* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/Snowflakes2.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.header {
width: 100vw;
text-align: center;
height: 500px;
top: 0px;
}

.header-title {
    font-size: 100px;
}

.header-menue {
    display: flex;
}

.header-menue-list {
    list-style: none;
}

.header-menue-item {
    display: inline-block;
}

