* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/snowflakes_white.png);
  min-height: 100vh;
  min-width: 100vw;
  background-size: 100% 100%;
}

.header {
width: 100vw;
text-align: center;
height: 500px;
top: 0px;
}

.header-title {
    font-size: 100px;
}

.header-menue {
    display: flex;
}

.header-menue-list {
    list-style: none;
}

.header-menue-item {
    display: inline-block;
}

.calendar{
  display: grid;
  grid-template-columns: repeat(6, 0fr);
  justify-content: center;
  gap: 50px;
  margin-top: -300px;
  
}

.door img {
  width: 120px;
  height: 120px;
}
