* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/Snowflakes_medienvirus.png);
  min-height: 100vh;
  min-width: 100vw;
  background-size: 100% 100%;
}

.header {
  width: 100vw;
  height: 150px;
  padding-left: 30px;
}

.header-title {
    font-size: 80px;
    writing-mode:vertical-rl;
    text-orientation:sideways;
    rotate:calc(180deg);
    padding-bottom: 120px;
}

.calendar{
  display: grid;
  grid-template-columns: repeat(6, 0fr);
  justify-content: center;
  gap: 50px; 
}

.door img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
